.comments-per-user-widget {
    svg {
        width: 100%;
        font-size: 0.85rem;

        text.cpuw-user-cell-name {
            alignment-baseline: middle;
        }

        rect.cpuw-bar-chart-bar {
            fill: steelblue;
        }
    }
}
