.common-widget {
    border: 1px solid #ccc;
    margin-top: 1.5rem;

    hr.common-widget-delimiter {
        border: 0;
        border-top: 1px solid #ccc;
        margin: 0 1rem;
    }

    .common-widget-header {
        text-align: center;
    }

    .common-widget-header,
    .common-widget-body {
        padding: 1rem;
        margin: 0;
    }
}
